<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.opendfl.task.mapper.TaDataMethodMapper">
    <resultMap id="taDataMethodMap" type="cn.org.opendfl.task.po.TaDataMethodPo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
        <result column="show_processing" property="showProcessing" jdbcType="INTEGER"/>
        <result column="data_id_arg_count" property="dataIdArgCount" jdbcType="INTEGER"/>
        <result column="if_del" property="ifDel" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="INTEGER"/>
        <result column="modify_user" property="modifyUser" jdbcType="INTEGER"/>
        <result column="if_log_detail" property="ifLogDetail" jdbcType="INTEGER"/>
        <result column="if_remind" property="ifRemind" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="field">
        id
        ,
		code, 
		name, 
		category, 
		show_processing, 
		data_id_arg_count, 
		if_del, 
		status, 
		remark, 
		create_time, 
		modify_time, 
		create_user, 
		modify_user, 
		if_log_detail, 
		if_remind
    </sql>

    <sql id="findByPage_where">
        <where>
            <trim suffixOverrides="and | or">
                <if test="id != null">id = #{id, jdbcType = INTEGER} and</if>
                <if test="code != null">code = #{code, jdbcType = VARCHAR} and</if>
                <if test="name != null">name = #{name, jdbcType = VARCHAR} and</if>
                <if test="category != null">category = #{category, jdbcType = VARCHAR} and</if>
                <if test="showProcessing != null">show_processing = #{showProcessing, jdbcType = INTEGER} and</if>
                <if test="dataIdArgCount != null">data_id_arg_count = #{dataIdArgCount, jdbcType = INTEGER} and</if>
                <if test="ifDel != null">if_del = #{ifDel, jdbcType = INTEGER} and</if>
                <if test="status != null">status = #{status, jdbcType = INTEGER} and</if>
                <if test="remark != null">remark = #{remark, jdbcType = VARCHAR} and</if>
                <if test="createTime != null">create_time = #{createTime, jdbcType = TIMESTAMP} and</if>
                <if test="modifyTime != null">modify_time = #{modifyTime, jdbcType = TIMESTAMP} and</if>
                <if test="createUser != null">create_user = #{createUser, jdbcType = INTEGER} and</if>
                <if test="modifyUser != null">modify_user = #{modifyUser, jdbcType = INTEGER} and</if>
                <if test="ifLogDetail != null">if_log_detail = #{ifLogDetail, jdbcType = INTEGER} and</if>
                <if test="ifRemind != null">if_remind = #{ifRemind, jdbcType = INTEGER} and</if>
                <if test="keywords != null and keywords != ''">
                    and (
                    id like concat(concat('%', #{keywords}),'%')
                    or code like concat(concat('%', #{keywords}),'%')
                    or name like concat(concat('%', #{keywords}),'%')
                    or category like concat(concat('%', #{keywords}),'%')
                    or show_processing like concat(concat('%', #{keywords}),'%')
                    or data_id_arg_count like concat(concat('%', #{keywords}),'%')
                    or if_del like concat(concat('%', #{keywords}),'%')
                    or status like concat(concat('%', #{keywords}),'%')
                    or remark like concat(concat('%', #{keywords}),'%')
                    or create_time like concat(concat('%', #{keywords}),'%')
                    or modify_time like concat(concat('%', #{keywords}),'%')
                    or create_user like concat(concat('%', #{keywords}),'%')
                    or modify_user like concat(concat('%', #{keywords}),'%')
                    or if_log_detail like concat(concat('%', #{keywords}),'%')
                    or if_remind like concat(concat('%', #{keywords}),'%')
                    )
                </if>
            </trim>
        </where>
    </sql>

    <select id="findByPageXML" parameterType="java.util.Map" resultMap="taDataMethodMap">
        select
        <include refid="field"></include>
        from ta_data_method
        <include refid="findByPage_where"></include>
        <choose>
            <when test="sidx != null">
                order by ${sidx} ${sord}, id desc
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="page != null and rows != null">
            limit ${startRows}, ${rows}
        </if>
    </select>

    <select id="findCountXML" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(1)
        from ta_data_method
        <include refid="findByPage_where"></include>
    </select>

    <select id="findAllXML" parameterType="java.util.Map" resultMap="taDataMethodMap">
        select
        <include refid="field"></include>
        from ta_data_method
        <where>
            <trim suffixOverrides="and | or">
                <if test="id != null">id = #{id, jdbcType = INTEGER} and</if>
                <if test="code != null">code = #{code, jdbcType = VARCHAR} and</if>
                <if test="name != null">name = #{name, jdbcType = VARCHAR} and</if>
                <if test="category != null">category = #{category, jdbcType = VARCHAR} and</if>
                <if test="showProcessing != null">show_processing = #{showProcessing, jdbcType = INTEGER} and</if>
                <if test="dataIdArgCount != null">data_id_arg_count = #{dataIdArgCount, jdbcType = INTEGER} and</if>
                <if test="ifDel != null">if_del = #{ifDel, jdbcType = INTEGER} and</if>
                <if test="status != null">status = #{status, jdbcType = INTEGER} and</if>
                <if test="remark != null">remark = #{remark, jdbcType = VARCHAR} and</if>
                <if test="createTime != null">create_time = #{createTime, jdbcType = TIMESTAMP} and</if>
                <if test="modifyTime != null">modify_time = #{modifyTime, jdbcType = TIMESTAMP} and</if>
                <if test="createUser != null">create_user = #{createUser, jdbcType = INTEGER} and</if>
                <if test="modifyUser != null">modify_user = #{modifyUser, jdbcType = INTEGER} and</if>
                <if test="ifLogDetail != null">if_log_detail = #{ifLogDetail, jdbcType = INTEGER} and</if>
                <if test="ifRemind != null">if_remind = #{ifRemind, jdbcType = INTEGER} and</if>
            </trim>
        </where>
    </select>

    <select id="findByIdXML" parameterType="java.lang.String" resultMap="taDataMethodMap">
        select
        <include refid="field"></include>
        from ta_data_method
        <where>
            id = #{id}
        </where>
    </select>

    <insert id="insertXML" parameterType="cn.org.opendfl.task.po.TaDataMethodPo" useGeneratedKeys="true"
            keyProperty="id" flushCache="true">
        insert ta_data_method
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="category != null">category,</if>
            <if test="showProcessing != null">show_processing,</if>
            <if test="dataIdArgCount != null">data_id_arg_count,</if>
            <if test="ifDel != null">if_del,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="modifyUser != null">modify_user,</if>
            <if test="ifLogDetail != null">if_log_detail,</if>
            <if test="ifRemind != null">if_remind,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType = INTEGER},</if>
            <if test="code != null">#{code, jdbcType = VARCHAR},</if>
            <if test="name != null">#{name, jdbcType = VARCHAR},</if>
            <if test="category != null">#{category, jdbcType = VARCHAR},</if>
            <if test="showProcessing != null">#{showProcessing, jdbcType = INTEGER},</if>
            <if test="dataIdArgCount != null">#{dataIdArgCount, jdbcType = INTEGER},</if>
            <if test="ifDel != null">#{ifDel, jdbcType = INTEGER},</if>
            <if test="status != null">#{status, jdbcType = INTEGER},</if>
            <if test="remark != null">#{remark, jdbcType = VARCHAR},</if>
            <if test="createTime != null">#{createTime, jdbcType = TIMESTAMP},</if>
            <if test="modifyTime != null">#{modifyTime, jdbcType = TIMESTAMP},</if>
            <if test="createUser != null">#{createUser, jdbcType = INTEGER},</if>
            <if test="modifyUser != null">#{modifyUser, jdbcType = INTEGER},</if>
            <if test="ifLogDetail != null">#{ifLogDetail, jdbcType = INTEGER},</if>
            <if test="ifRemind != null">#{ifRemind, jdbcType = INTEGER},</if>
        </trim>
    </insert>

    <update id="updateXML" parameterType="cn.org.opendfl.task.po.TaDataMethodPo" keyProperty="id">
        update ta_data_method
        <set>
            <trim suffixOverrides=",">
                <if test="id != null">id = #{id},</if>
                <if test="code != null">code = #{code},</if>
                <if test="name != null">name = #{name},</if>
                <if test="category != null">category = #{category},</if>
                <if test="showProcessing != null">show_processing = #{showProcessing},</if>
                <if test="dataIdArgCount != null">data_id_arg_count = #{dataIdArgCount},</if>
                <if test="ifDel != null">if_del = #{ifDel},</if>
                <if test="status != null">status = #{status},</if>
                <if test="remark != null">remark = #{remark},</if>
                <if test="createTime != null">create_time = #{createTime},</if>
                <if test="modifyTime != null">modify_time = #{modifyTime},</if>
                <if test="createUser != null">create_user = #{createUser},</if>
                <if test="modifyUser != null">modify_user = #{modifyUser},</if>
                <if test="ifLogDetail != null">if_log_detail = #{ifLogDetail},</if>
                <if test="ifRemind != null">if_remind = #{ifRemind},</if>
            </trim>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteXML" parameterType="java.lang.String">
        delete from ta_data_method
        <where>
            id = #{id}
        </where>
    </delete>
</mapper>